:root {
  --BackgroundColor: white;
  --FontColor: black;
  --MainStyleColor: rgb(23, 177, 113);
  --SecondaryStyleColor: rgb(41, 90, 105);
  --HoverBackgroundColor: gray;
  --HoverTextColor: rgb(255, 255, 255);
  --TextFont: 16px;
  --BorderColor: rgb(20, 18, 18);
}

body {
  margin: 0px;
  background-color: var(--BackgroundColor);
}
  
h1 {
  color: var(--FontColor);
}

p {
  color: var(--FontColor);
}

fieldset {
  margin: 20px;
  padding: 0 10px 10px;
  border: 1px solid var(--BorderColor);
  border-radius: 8px;
  padding-top: 10px;
}

  /* The side navigation menu */
.sidenav {
  margin-top: 49px;
  height: 100%; /* 100% Full-height */
  width: 0%; /* 0 width */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0%; /* Stay at the top */
  left: 0%;
  background-color: var(--MainStyleColor);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--FontColor);
  display: block;
  cursor:pointer
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--HoverBackgroundColor);
}


form {
  margin-left: 300px;
  margin-right: 600px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--MainStyleColor);;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--HoverTextColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--TextFont);
  cursor:pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--HoverBackgroundColor);
  color: var(--FontColor);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--HoverBackgroundColor);
  color: var(--HoverTextColor);
}

.topnav-right {
  float: right;
  padding: 14px 150px;
}

/* Change the style of buttons*/
button {
  transition-duration: 0.4s;
  background-color: var(--SecondaryStyleColor);
  border: none;
  font-size: var(--TextFont);
  text-align: center;
  cursor: pointer;
}

/* Change the color of buttons on hover */
button:hover {
background-color: var(--HoverBackgroundColor);
color: var(--HoverTextColor);
}